@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
.navbar {
  padding: 15px;
  background-color: #ccad52;
  text-align: center;
  word-spacing: 50px;
  margin: none;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
a{
  font-size: 20px;
}
p {
  display: inline-block;
  border: crimson solid;
  border-radius: 15px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 400px;
  text-align: center;
  font-size: 20px;
 
}
h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: brown;
  font-size: 40px;
}
html {
  background-color: #f5e042;
}
a {
  text-decoration: none;
  color: brown;
}
section.about{
    margin:0px 30px;
    text-align: center;
    align-items: center;
}
hr{
    background-color: brown;
}
h2.sh2{
    text-align:left;
}
ul.sh3{
   margin-left: 500px;
   text-align: right;
   font-family: 'Poppins', sans-serif;
   
}
h2.sh3{
    text-align: right;
}
ul{
    display: inline-block;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
form{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
}

a:hover{
  color: #d87e29;
}
p:hover{
  background-color: rgb(255, 255, 158);
  border-radius:0px;
  border-color: teal solid;
}
h2:hover{
  color:tomato;
}
p.para2{
  margin-left: 30px;
}
form input{
  width: 280px;
  height: 30px;
  border-radius: 10px;
  border: brown solid 3px ;
}
textarea{
  width: 280px;
  border-radius: 10px;
  border: brown solid 3px ;
}